
.contact{
    background-color: white;
    padding-bottom: 100px;
    z-index: 1;
    text-align: center;
}
.contact-container{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #041C32;
    border-radius: 8px;

}
.contact-images{
    width: 100%;
    color: white;
}
.contact-heading>h1{
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
}
.contact-heading>h5{
    text-align: center;
}
.contact-form{
    width: 50%;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-top: 70px;

}
form>input{
    width: 98%;
    height: 45px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    padding: 5px;
}
.contact-mailz>img{
    width:97% ;
    
}
.contact-mailz>h3{
    margin-top: 100px;
}
.send-btn-size{
    width: 170px;
}

.contact-icon>img{
    width: 150px !important;
    background-color: white;

}
.contact-icon img:hover{
    transform: scale(1.5);
}
@media screen and (max-width:810px) {
    .contact{

        margin-top: 50px;
    }
}

@media screen and (max-width:375px) {
    .contact-container{
        display: block;
    }
}

.site-manufacturer{
    margin-top: 30px;

}
.handup-div{
    display: flex;
    align-self:flex-end;
    margin-left: 93%;
    margin-top: -3rem;
  
}
.handup-img{
    width: 40px;
   
   
}