@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


/* Projects */
/* --------- */
.home-container{
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  min-height: 670px;
  top: 0;
  font-family:"Poppins Light" ;

  /* background-image: url("../../assets/Home/Macintosh-Best-Wallpaper-84480.jpg"); */


}
.project-section {
    position: relative !important;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    /* background-image: var(--section-background-color) !important; */

  }
  
  .project-card {
    text-align: left;
    padding-top: 100px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .project-card-view {
    box-shadow: 3px 3px 20px rgb(80 78 78 / 50%) !important;
    color: white !important;
    background-color:  #0F1624;

    opacity: 1.0 !important;
    transition: all 0.5s ease 0s !important;

    height: 730px !important;
    width: 33vw !important;

    font-size: 15px !important;
  }
  .project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
  }
  
  .card-img-top {
    padding: 20px !important;
    opacity: 0.8 !important;
    border-radius: 10px !important;
  }
  
  .blog-img {
    padding: 0px !important;
    opacity: 0.8 !important;
    border-radius: 0px !important;
  }
  .project-button{
    display: flex;
  }
  .btn-primary {
    color: #fff !important;
    background-color: #111 !important;
    border-color: #623686 !important;
  }
  
  .btn-primary:hover {
    color: #fff !important;
    background-color: #ff5823 !important;
    border-color: #111 !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .project-heading {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
  }
  @media screen and (max-width:810px) {
    .project-card-view{
      min-width: 95%;
      z-index: 2;
    }
  }